{% load static %}

<!DOCTYPE html>
<html lang="eng-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Pitchfork to Spotify</title>
</head>

<body>
    <header>
        <h1>Pitchfork to Spotify</h1>
        <p>Click the start button below to login to spotify and add
            Pitchfork's most recent highly rated albums to your Spotify library.</p>
        <a class='button' href={{ url }}>start</a>
    </header>
</body>

</html>