{% load static %}

<!DOCTYPE html>
<html lang="eng-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Pitchfork to Spotify</title>
</head>

<body>
    <header>
        <h1>Which Albums Do You Want to Add?</h1>
        <br>
        <a class='button' href="http://localhost:8000/highly-rated">All Highly Rated Albums</a>
        <a class='button' href="http://localhost:8000/best-new-music">Best New Music Only</a>
    </header>
</body>

</html>