html, body {
    background-color: #fff2e6;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    height: 150px;
    font-size: 55px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 26px;
}

.button {
	background-color:#1DB954;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    transition-duration: 0.4s;
    margin: 5px;
}
.button:hover {
    background-color:rgb(76, 214, 124);
}

.button:active {
	position:relative;
    top:1px;
}

