{% load static %}

<!DOCTYPE html>
<html lang="eng-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Pitchfork to Spotify</title>
</head>

<body>
    <img src="{% static 'pitchforktospotifylogo.png' %}" alt="Pitchfork to Spotify Logo" height="150">
    {% block page_content %}{% endblock %}
</body>


</html>