{% extends "base.html" %}
{% block page_content %}

<body>
    <header>
        <h1>Albums to be Added</h1>

        <form action="/highly-rated/added/" method="POST">
            {% csrf_token %}
            {% for album in albums %}
            <input type="checkbox" name="{{ album.album }}" id="{{ album.album }}">
            <label for="{{ album.album }}">{{ album.album }} by {{ album.artist }}</label><br>
            {% endfor %}
            <input type="submit" value="Add">
        </form>
    </header>
</body>

{% endblock %}