{% extends "base.html" %}
{% block page_content %}

<body>
    <header>
        <h1>Albums to be Added</h1>
    </header>
    <main>
        <form action="/highly-rated/added/" method="POST">
            {% csrf_token %}
            {% for album in albums %}
            <input class="hidden" type="checkbox" name="{{ album.album }}" id="{{ album.album }}">
            <label class="strike" for="{{ album.album }}">{{ album.album }} | {{ album.artist }}</label><br><br>
            {% endfor %}
            <input class="button" type="submit" value="Show More" formaction="/highly-rated/?page={{ page }}">
            <input class="button" type="submit" value="Add">
        </form>
    </main>
</body>

{% endblock %}