{% extends "base.html" %}
{% block page_content %}

<body>
    <header>
        <h1>Albums to be Added</h1>

        <form action="/best-new-music/added/" method="POST">
            <div class="albums">
                {% csrf_token %}
                {% for album in albums %}
                <input class="hidden" type="checkbox" name="{{ album.album }}" id="{{ album.album }}">
                <label class="strike" for="{{ album.album }}">{{ album.album }} | {{ album.artist }}</label><br><br>
                {% endfor %}
            </div>
            <input class="button" type="submit" value="Add">
        </form>
    </header>
</body>

{% endblock %}